:root {
	--blue: #c9d8f2;
	--light-blue: #F2F5FD;
	--black: #3B414A;
	--grey: #E3E8EE;
	--light-grey: #F9FAFC;
	--dark-grey: #757575;
	--green: #3ECCBD;
	--red: #ff4646;
}



/*BASICS*/

* {
	-webkit-box-sizing: border-box;
		box-sizing: border-box;
}

body {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	font-family: 'Roboto', sans-serif;
	background-color: var(--light-blue);
	color: var(--black);

	display: -webkit-box;
		display: -ms-flexbox;
			display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;

	scroll-behavior: smooth;

	-webkit-transition: all 0.5s;
		transition: all 0.5s;
}

h3 {
	font-weight: bold;
	font-size: 2em;
	margin: 20px;
}

input {
	color: var(--black);
}

input:focus,
button:focus {
	outline: none !important;
}



/*CHAT*/

.chat-body {
	display: -webkit-box;
		display: -ms-flexbox;
			display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: start;
		-ms-flex-pack: start;
			justify-content: flex-start;

	min-height: 700px;
	min-width: 400px;
	width: 25vw;
	height: 70vh;
}

.messagesArea {
	display: -webkit-box;
		display: -ms-flexbox;
			display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-pack: stretch;
		-ms-flex-pack: stretch;
			justify-content: stretch;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;

	width: 100%;
	height: 100%;

	-webkit-box-shadow: 0 0 50px var(--blue);
		box-shadow: 0 0 50px var(--blue);

	overflow: hidden;
}



/*CHAT HEADING*/

.messagesArea-heading {
	position: relative;
	width: 100%;
	min-height: 70px;
	-ms-flex-preferred-size: 10%;
		flex-basis: 10%;

	display: -webkit-box;
		display: -ms-flexbox;
			display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;

	background: white;

	-webkit-box-shadow: 0 0 10px var(--grey);
		box-shadow: 0 0 10px var(--grey);

	z-index: 2;
}

.messagesArea-heading .username {
	width: 100%;
	height: 100%;
	background: white;
	font-weight: bold;
	font-size: 2em;
	border: none;
	text-align: center;
}

/*Hide and show placeholder on focus*/
.username:focus::-webkit-input-placeholder 	{color: transparent;}
.username:focus:-moz-placeholder 			{color: transparent;} /* FF 4-18 */
.username:focus::-moz-placeholder 			{color: transparent;} /* FF 19+ */
.username:focus:-ms-input-placeholder 		{color: transparent;} /* IE 10+ */



/*CHAT MESSAGES AREA*/

.messagesArea-messages {
	display: -webkit-box;
		display: -ms-flexbox;
			display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
		-ms-flex-direction: column-reverse;
			flex-direction: column-reverse;
	-webkit-box-align: start;
		-ms-flex-align: start;
			align-items: flex-start;

	padding: 20px;

	width: 100%;
	min-height: 400px;
	-ms-flex-preferred-size: 80%;
		flex-basis: 80%;

	background: var(--light-grey);

	overflow-y: auto;
	overflow-x: hidden;

	z-index: 0;
}

.messagesArea-messages .message {
	display: -webkit-box;
		display: -ms-flexbox;
			display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-align: start;
		-ms-flex-align: start;
			align-items: flex-start;
	-ms-flex-pack: distribute;
		justify-content: space-around;

	margin: 10px 0;
}

.message .message-sender {
	font-size: 1.1em;
	font-weight: bold;
	color: var(--green);
	word-break: break-word;
}

.message .message-body {
	display: -webkit-box;
		display: -ms-flexbox;
			display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	background: var(--black);

	border-radius: 0 20px 20px 20px;
	margin-top: 5px;
	padding: 7px;
}

.message .message-body .message-body-text {
	color: var(--light-grey);
	padding: 7px;
	word-break: break-word;
}

.message .message-body .message-body-options {
	color: var(--grey);
	text-align: center;
	font-size: 1.4em;
	font-weight: bold;
	padding: 7px;
	margin-left: 10px;
	cursor: pointer;
	position: relative;
}

.message-body-options .options-list {
	position: absolute;
	right: -58px;

	width: 70px;
	height: 50px;
	padding: 5px;
	border-radius: 0px 10px 10px 10px;

	background: var(--dark-grey);
	opacity: 0.9;
	-webkit-box-shadow: 2px 2px 10px var(--dark-grey);
		box-shadow: 2px 2px 10px var(--dark-grey);

	display: -webkit-box;
		display: -ms-flexbox;
			display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-align: stretch;
		-ms-flex-align: stretch;
			align-items: stretch;
	-webkit-box-pack: space-evenly;
		-ms-flex-pack: space-evenly;
			justify-content: space-evenly;
}

.options-list [type="button"] {
	width: 100%;
	background: transparent;
	color: var(--light-grey);
	text-align: left;
	font-weight: bold;

	border: none;

	cursor: pointer;
}

.options-list [type="button"]:hover {
	color: var(--green);
}



/*MESSAGE TYPE AREA*/
.messagesArea-footer {
	position: relative;
	
	display: -webkit-box;
		display: -ms-flexbox;
			display: flex;
	-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	-webkit-box-pack: stretch;
		-ms-flex-pack: stretch;
			justify-content: stretch;
	-webkit-box-align: stretch;
		-ms-flex-align: stretch;
			align-items: stretch;

	width: 100%;
	min-height: 70px;
	-ms-flex-preferred-size: 10%;
		flex-basis: 10%;

	background: white;

	-webkit-box-shadow: 0 0 10px var(--grey);
		box-shadow: 0 0 10px var(--grey);
	
	z-index: 2;
}

.messagesArea-footer .text {
	padding: 10px 20px;
	border: none;
	background: transparent;
	font-size: 1.2em;
	-ms-flex-preferred-size: 80%;
		flex-basis: 80%;
	color: var(--dark-grey);
	word-break: break-word;
}

.messagesArea-footer .button-send {
	display: -webkit-box;
		display: -ms-flexbox;
			display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;

	min-width: 70px;
	padding: 10px;
	border: none;
	background-color: transparent;
	color: var(--green);

	font-size: 1.4em;
	font-weight: bold;
	-ms-flex-preferred-size: 20%;
		flex-basis: 20%;
	cursor: pointer;
	z-index: 3;
}

.button-send svg {
	width: 60%;
	z-index: 0;
}

.messagesArea-footer .button-send svg {
	fill: #3ECCBD;
}



/*Scroll down button*/
.scroll-bottom {
	display: -webkit-box;
		display: -ms-flexbox;
			display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;

	position: absolute;
	top: -50px;
	right: 30px;

	-webkit-transform: translate(0, 10px);
		transform: translate(0, 10px);

	width: 30px;
	height: 30px;

	border-radius: 100%;

	-webkit-box-shadow: 1px 1px 5px var(--dark-grey);
		box-shadow: 1px 1px 5px var(--dark-grey);

	background: var(--black);
	color: var(--green);
	opacity: 0.7;

	cursor: pointer;

	z-index: 0;

	-webkit-transition: all 0.5s;
		transition: all 0.5s;
}



/*CUSTOM SETTINGS*/

/*Edit field color change*/
.black-background {
	background: var(--black);
}


/*Notifications*/
.notification-box {
	position: absolute;
	bottom: 0;
	left: 0;

	width: 100%;

	word-break: break-word;

	display: -webkit-box;
		display: -ms-flexbox;
			display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;

	z-index: -1;
}

.notification {
	-webkit-transform: translate(0, 0);
		transform: translate(0, 0);

	display: -webkit-box;
		display: -ms-flexbox;
			display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;

	width: 100%;
	padding: 10px;

	font-size: 1em;
	font-weight: 500;

	color: white;

	-webkit-transition: all 0.5s;
		transition: all 0.5s;
}

.error {
	background-color: var(--red);
}

.success {
	background-color: var(--green);
}



/*CUSTOM SCROLL BAR*/

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--grey);
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--black);
}



/*MEDIA*/

@media only screen and (max-width: 700px) {

	/* If mobile - full window appearance */
	.chat-body {
		position: absolute;

		min-width: 0px;
		min-height: 0px;

		width: 100vw;
		height: 100vh;
	}

	.messagesArea-messages {
		min-height: 0px;
	}

}